.profile__name-and-edit-button {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-self: center;
}

@media screen and (max-width: 570px) {
    .profile__name-and-edit-button {
        padding-left: 21px;
    }
}